html {
    font-size: 62.5%;
    /* poner puntos en vez de comas para los porcentajes */
}

body {
    font-size: 16px;
    /* ESTO ME PERMITE CONSEGUIR 10PX=1REM */
}

h1 {
    color: white;
    background-color: rgba(248, 102, 102, 0.65);
    text-align: left;
    /* está centrado pero solo el texto, no el box model */
    padding: 35px;
    /* necesita que le demos un atributo antes del color */
    margin-bottom: 10px;
    font-size: 4.5rem;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    /*porcentaje del ancho de la página */
    line-height: 1.2;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 100px;


}

main {
    background-image: url(/img/11641893944_banner_zona_centro.png);

}
.cursosrosa{
    font-size: 1.4rem;
    color: #F76666;
    text-align: center;
}
.futuro{
    font: size 2.7rem;
    text-align: center;
}
.botonvercursos{
    color: white;
    background-color: black;
    font-size: 1.4rem;
    font-family: 'open sans', sans-serif
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #02052F;
    font-size: 1.5rem;
        /* se puede poner varias veces body pero mejor juntarlo para minimizar el código */
}
.imagenesArriba{
    text-align: center;
}
/* 
.h5azul {
    color: white;
    background-color: blue;
}

#projo {
    color: white;
    background-color: red;

}

/* CLASS
.primerh3 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
/* ID */
/* #segundoh3 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
} */

/* SELECTOR */
/* h6 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.secciónprueba p {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    /* selecciona solo el p contenido en esa clase SI PONEMOS COMA EN VEZ DE ESPACIO, SE SELECCIONARIA TB TODOS LOS p */
/* } */

/* selector todos los hijos dentro de esa sección el selector que hemos señalado*/
/* .secciónprueba>a {
    font-family: 'Courier New', Courier, monospace;
}

/* selector atributo */
/* [src="/img/Logo-Adecco.png"] {
    background-color: aquamarine;
} */

/* selector múltiple */
/* #segundoh3,
[src="/img/Logo-Adecco.png"] {
    background-color: beige;
} */